
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search by name , brand or category" aria-label="Search" aria-describedby="button-addon2" #search>
  <button class="btn btn-outline-danger" type="button" id="button-addon2" (click)="Search(search.value)">
  	<i class="bi bi-search"></i>
  </button>
</div>

<div class="container-fluid">
	<div class="row">
		<p *ngIf="result" class="text-center">
			{{result}}
		</p>
		<div class="spinner-grow text-danger mx-auto" role="status" *ngIf="loader">
		  <span class="visually-hidden">Loading...</span>
		</div>


		<ng-container *ngIf='products'>
			
			<div class="col-md-4 mb-3" *ngFor="let product of products">

				<div class="card p-2">
		      <img src="{{product.image}}" class="card-img-top img-fluid" alt="{{product.name}}">
		      <div class="card-body">
		        <h5 class="card-title">{{product.name}}</h5>
		        <p class="card-text">{{product.summary}}</p>
		        <p class="text-muted">
		          Price : {{product.price}}$
		        </p>
		        <a routerLink="/admin-panel/product-detail/{{product.id}}" class="btn btn-outline-primary">See Details</a>
		        <a routerLink="/admin-panel/edit-product/{{product.id}}" class="btn btn-outline-warning mx-2">Edit</a>
		      </div>
		    </div>
				
			</div>
		</ng-container>


	</div>
</div>